html {
    background-color: #143340;
    color: #F2F2F2;
}

body {
    display: flex;
    flex-direction: row;
}

button {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    color: inherit;
    font: inherit;
    text-align: left;
    display: inline-block;
    max-width: 90%;
    vertical-align: top;
}

form {
    display: inline;
}

#texte-principal {
    max-width: 900px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    margin-top: 70px;
}

#fiche-personnage {
    width: 20%;
    text-align: left;
    margin-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    margin-bottom: 50px;
    font-size: 2.2rem;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

h2 {
    margin-bottom: 1.3rem;
    font-size: 1.3rem;
    font-style: italic;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

ul {
    margin-top: 2em;
    padding-left: 0;
}

li {
    list-style: disc inside;
    font-style: italic;
    margin-bottom: 1em;
}

li :hover {
    font-style: normal;
}

.tag-to-earn, .tag-to-loose {
    font-size: 0.8rem;
    color: #143340;
    background-color: #45A9BF;
    padding: 0.5rem;
    border-radius: 30px;
    white-space: nowrap;
    margin-left: 0.5rem;
    font-style: normal;
}

.chance-of-success-high {
    font-size: 1rem;
    color: #6B8E23;
    white-space: nowrap;
    margin-left: 0.5rem;
    font-style: normal;
}

.chance-of-success-medium {
    font-size: 1rem;
    color: #F2CF8D;
    white-space: nowrap;
    margin-left: 0.5rem;
    font-style: normal;
}

.chance-of-success-low {
    font-size: 1rem;
    color: #CB6D51;
    white-space: nowrap;
    margin-left: 0.5rem;
    font-style: normal;
}


